<h1>{{ service.name }}</h1>

<p>
    {{ service.shortDescription }}
</p>

<p>
    {{ service.longDescription }}
</p>

<h1>Methods</h1>

{% for method in service.methods %}

    <h2>{{ method.name }}</h2>

    <p class="short_description">{{ method.shortDescription }}</p>

    <p class="long_description">{{ method.longDescription }}</p>

    <h3>parameters</h3>

    <ul class="parameters">

        {% for parameter in method.parameters %}

        <li>
            <h4>{{ parameter.name }}</h4>

            <ul class="parameter_properties">
                <li>type: {{ parameter.type }}</li>
                <li>description: {{ parameter.description }}</li>
                <li>{% if parameter.isOptional %} optional {% else %} required {% endif %}</li>
                <li>{% if not parameter.isNullable %} not {% endif %} nullable</li>
                <li>default value: {% if parameter.defaultValue is null %} <em>none</em> {% else %} {{ parameter.defaultValue }} {% endif %}</li>
            </ul>

        </li>

        {% endfor %}

    </ul>

    <h3>returns</h3>

    <ul class="return_type_properties">
        <li>type: {{ method.returnType }}</li>
        <li>description: {{ method.returnDescription }}</li>
    </ul>

{% endfor %}

{% if service.types %}

<h1>Types</h1>

{% for type in service.types %}

    <h2>{{ type.name }}</h2>

    <p class="description">{{ type.description }}</p>

    <h3>properties</h3>

    <ul class="properties">

        {% for property in type.properties %}

        <li>
            <h4>{{ property.name }}</h4>

            <ul class="property_properties">
                <li>type: {{ property.types|join(" | ") }}</li>
                <li>description: {{ property.description }}</li>
            </ul>
        </li>

        {% endfor %}

    </ul>

{% endfor %}

{% endif %}

<a href="{{ path_for('home') }}">back</a>
